exemples/ValidationXMLSchema/personne.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="personne">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="nom"/>
        <xs:element type="xs:string" name="prenom"/>
        <xs:element name="contacts">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:int" name="tel"/>
              <xs:element type="xs:int" name="mobile"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>